.bounding-box {
  position: absolute;
  border-bottom: solid;
  border-top: solid;
  border-left: solid;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}